@{
  Layout = "_Layout";
}

<div class="container-index">
  <h1 class="text-center">Welcome to the To Do List!</h1>
  <div class="btn-group" role="group" aria-label="Button group">
    <p class="text-center">@Html.ActionLink("See all items", "Index", "Items", null, new { @class = "btn btn-pill btn-primary me-4" })</p> 
    <p>@Html.ActionLink("See all categories", "Index", "Categories", null, new { @class = "btn btn-pill btn-primary" })</p>
  </div>
</div>
