@{
  Layout = "_Layout";
}

@using ToDoList.Models;

<h1 class="text-center">Tags</h1>

@if (@Model.Count == 0)
{
  <h3>No tags have been added yet!</h3>
} 

@{
  var colors = new string[] {  "secondary", "success", "danger", "info", "light" };
  Random rand = new Random();
}
<div class="container col-sm-4">

<ul class="list-group">
  @foreach (Tag tag in Model)
  {
    var color = colors[rand.Next(colors.Length)];
    <li class="list-group-item">
      <span class="badge bg-@color rounded-pill">@Html.ActionLink($"{tag.Title}", "Details", new { id = tag.TagId })</span>
    </li>
  }
</ul>

<p>@Html.ActionLink("Add new tag", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>