@{
  Layout = "_Layout";
}

@model ToDoList.Models.Category;
@using ToDoList.Models;
@using System.Collections.Generic;

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card mt-3">
        <div class="card-body">
          <h2 class="card-title">Category Details</h2>
          <hr />
          <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

          @if(@Model.Items.Count == 0)
          {
            <p>This category does not contain any items</p>
          }
          else
          {
            <h4>Items the category contains:</h4>
            <ul class="list-group list-group-light">
              @foreach(Item item in Model.Items)
              {
                string tags = "";
                @if(item.JoinEntities.Count == 0)
                {
                  tags = "This item does not have any tags.";
                }
                else
                {
                  List<string> tagList = new List<string>();
                  @foreach(ItemTag join in item.JoinEntities)
                  {
                    tagList.Add(join.Tag.Title);
                  }
                  tags = String.Join(", ", tagList);
                }
                <li class="list-group-item list-item-border">@item.Description <small class="text-muted">(@tags)</small></li>
              }
            </ul>
          }
        </div>
      </div>
    </div>
  </div>
</div>